//https://getbootstrap.com/docs/5.3/customize/color/#all-colors
[data-bs-theme="default"] {
  //background color
  --bs-body-bg: #{$white};
  --bs-body-bg-rgb: #{to-rgb($white)};
  //foreground color
  --bs-body-color: #212529;
  --bs-body-color-rgb: #{to-rgb(#212529)};
  //used for lighter text
  //bg option for dividers and disabled states.
  --bs-secondary-color: #{tint-color(#212529, 7%)};
  --bs-secondary-color-rgb: #{to-rgb(tint-color(#212529, 7%))};
  //borders, dividers, and rules
  //--bs-border-color-translucent to blend
  //uses rgba value
  --bs-border-color: #dee2e6;
  --bs-border-color-rgb: #{to-rgb(#dee2e6)};
  --bs-primary: #{$indigo-700};
  --bs-primary-rgb: #{$indigo-700};
  /**
  --bs-secondary-bg
  --bs-secondary-bg-rgb
  --bs-tertiary-color
  --bs-tertiary-color-rgb
  --bs-tertiary-bg
  --bs-tertiary-bg-rgb
  --bs-emphasis-color
  --bs-emphasis-color-rgb
  --bs-primary-bg-subtle
  --bs-primary-border-subtle
  --bs-primary-text-emphasis
  --bs-success
  --bs-success-rgb
  --bs-success-bg-subtle
  --bs-success-border-subtle
  --bs-success-text-emphasis
  --bs-danger
  --bs-danger-rgb
  --bs-danger-bg-subtle
  --bs-danger-border-subtle
  --bs-danger-text-emphasis
  --bs-warning
  --bs-warning-rgb
  --bs-warning-bg-subtle
  --bs-warning-border-subtle
  --bs-warning-text-emphasis
  --bs-info
  --bs-info-rgb
  --bs-info-bg-subtle
  --bs-info-border-subtle
  --bs-info-text-emphasis
  --bs-light
  --bs-light-rgb
  --bs-light-bg-subtle
  --bs-light-border-subtle
  --bs-light-text-emphasis
  --bs-dark
  --bs-dark-rgb
  --bs-dark-bg-subtle
  --bs-dark-border-subtle
  --bs-dark-text-emphasis
  */
}
@import "./buttons.scss";
@import "./dropdown.scss";
